<div class="main-content">
  <div class="container-fluid">
  <form class="example-form" [formGroup]="forgotForm" (ngSubmit)="forgot(forgotForm.value)">
    <mat-card class="example-card">
     <mat-card-header>
       <mat-card-title>Forgot Password</mat-card-title>
     </mat-card-header>
     <mat-card-content>
         <div class="form-group">
           <mat-form-field class="example-full-width">
           <input matInput placeholder="Email ID" formControlName="email" name="email">
           <mat-error class="error--handing"
              *ngIf="forgotForm.controls['email'].hasError('required') && (forgotForm.controls['email'].dirty || forgotForm.controls['email'].touched)">
              {{ "Email Id is required." }}
            </mat-error>
            <mat-error class="error--handing"
              *ngIf="forgotForm.controls['email'].hasError('pattern') && (forgotForm.controls['email'].dirty || forgotForm.controls['email'].touched)">
              {{ "Please Enter valid email Id." }}
            </mat-error>
           </mat-form-field>
         </div>
       <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
     </mat-card-content>
     <mat-card-actions>
       <button mat-raised-button [disabled]="!forgotForm.valid" color="primary">Submit</button>
     </mat-card-actions>
     <a class="auth-navigate" [routerLink]="['/', 'login']">Back to login</a>
   </mat-card>
  </form>
</div>
