<div class="main-content">
  <div class="container-fluid">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header card-header-danger">
                  <h4 class="card-title">Implants</h4>
              </div>
              <div class="card-body">
                  <div class="row" >
                      <form class="full-width">
                        <mat-form-field class="full--width mat-headline">
                          <input matInput class="mat-headline-color" placeholder="Search by manufacturer and name" name="searchByString" [(ngModel)]="searchByString" (keyup)="searchBy()">
                        </mat-form-field>
                      </form>
                    </div>
                <div class="row" >
                  <table [hidden]="!recordsExists" mat-table [dataSource]="implantList" matSort class="full-width">
                    <ng-container matColumnDef="implantManufacture">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Manufacturer</strong> </th>
                      <td mat-cell *matCellDef="let element"> {{element.implantManufacture}} </td>
                    </ng-container>

                    <ng-container matColumnDef="objectName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Brand Name</strong></th>
                        <td mat-cell *matCellDef="let element"> {{element.objectName}} </td>
                      </ng-container>
              
                    <ng-container matColumnDef="createdOn">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Created Date</strong></th>
                      <td mat-cell *matCellDef="let element"> {{element.createdOn | date: 'MM/dd/yyyy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="modifiedOn">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Modified Date</strong></th>
                      <td mat-cell *matCellDef="let element"> {{element.modifiedOn | date: 'MM/dd/yyyy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="_id">
                      <th mat-header-cell *matHeaderCellDef><strong>Action</strong></th>
                      <td mat-cell *matCellDef="let element">
                        <a class="cursor-pointer btn implantView" (click)="view(element)"><mat-icon>remove_red_eye</mat-icon></a>
                        <a class="cursor-pointer btn implantEdit" (click)="edit(element)"><mat-icon>edit</mat-icon></a>
                      </td>
                    </ng-container>
              
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <mat-paginator class="full-width" [hidden]="!recordsExists" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
                <div class="row" *ngIf="recordsExists < 1">
                    No record found!
                </div>
              </div>
          </div>
      </div>
  </div>
</div>

