.full-width{
    width: 100%;
}
.cursor-pointer{
    cursor: pointer;
}
.implantView {
    border: 1px solid #235da8;
    color: #235da8 !important;
    background-color: #ffff;
    padding: 9px 7px 7px 7px;
}