<style> .resize-bar{ color: blue !important; }</style>

<div class="main-content implant--container">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Verification Requests</h4>
                  </div>
                  <div class="card-body">
                      <span>Fields marked with the asterisk (*) are mandatory</span>
                      <form class="form mat-form-field-wrapper" [formGroup]="form" (ngSubmit)="saveImplant(form.value)" #implantForm="ngForm" action="#">
                        <div class="row">
                            <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <mat-form-field class="example--full--width mat-headline">
                                                    <input matInput placeholder="* Implant manufacture" class="capitalize" formControlName="implantManufacture" [(ngModel)]="searchByString" name="implantManufacture" >
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <mat-form-field class="example--full--width mat-headline">
                                                    <input matInput placeholder="* Implant name/brand" class="capitalize" formControlName="label" name="label" [(ngModel)]="searchName" >
                                                </mat-form-field>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="row" >
                                            <div class="col-md-12">
                                                <div formArrayName="removalSection">
                                                    <div class="removal--process" *ngFor="let unit of form.controls.removalSection.controls; let i=index">
                                                        <div [formGroupName]="i">
                                                            <div class="row form-group {{i}}">
                                                                <div class="col-lg-12">
                                                                    <mat-form-field class="example--full--width mat-headline">
                                                                    <textarea matInput placeholder=" Removal Process" formControlName="removalProcess" name="removalProcess" cdkTextareaAutosize
                                                                    #autosize="cdkTextareaAutosize"
                                                                    cdkAutosizeMinRows="5"
                                                                    cdkAutosizeMaxRows="5"></textarea>
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col-lg-12">
                                                                <mat-form-field class="example--full--width mat-headline">
                                                                        <input matInput placeholder="Surgery date" [matDatepicker]="picker" (focus)="picker.open()" formControlName="surgeryDate"
                                                                            name="surgeryDate" *ngIf="i > 0">
                                                                        <input matInput placeholder="* Surgery date" [matDatepicker]="picker" (focus)="picker.open()" formControlName="surgeryDate"
                                                                            name="surgeryDate" *ngIf="i == 0">
                                                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                                        <mat-datepicker #picker></mat-datepicker>
                                                                </mat-form-field>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group">
                                                                <div class="col-lg-12">
                                                                    <mat-form-field class="example--full--width mat-headline">
                                                                      <input matInput placeholder="Surgery Location" class="capitalize" formControlName="surgeryLocation" name="surgeryLocation" >
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                            <div *ngIf = "(!implantDetail.isNewImplant) && (implantDetail.removImplant && !implantDetail.removImplant[i].isApproved) && (implantDetail.removImplant && !implantDetail.removImplant[i].isRejected)" >
                                                              <button type="button" (click)="partialApproveRemovalProcess(implantDetail.removImplant[i].id)" class="btn btn-theme" >Approve</button>
                                                              <button type="button" (click)="partialRejectRemovalProcess(implantDetail.removImplant[i].id)" class="btn rejectBtn"  >reject</button>
                                                              <div>
                                                              <span><b>Updated By:</b>{{ implantDetail.removImplant[i].userFullName }}</span> <br />
                                                              <span><b>Updated Date:</b>{{ implantDetail.removImplant[i].createdDate | date: 'MM/dd/yyyy' }}</span>  
                                                              </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                <div class="row col-md-12 form--bottom">
                                    <div *ngIf = "implantDetail.isNewImplant">
                                    <button type="button" (click)="approve()"  class="btn btn-theme" >Approve</button>
                                    <button type="button" (click)="reject()" class="btn rejectBtn" >reject</button>
                                    </div>
                                    <button type="button" (click)="cancel()" class="btn cancelBtn">Cancel</button>
                                   
                                </div>
                                <div class="row col-md-12 form--bottom">
                                        <div *ngIf = "implantDetail.isNewImplant" >
                                                <span><b>Updated By:</b>{{ implantDetail.userFullName }}</span> <br />
                                                <span><b>Updated Date:</b>{{ implantDetail.createdOn | date: 'MM/dd/yyyy' }}</span>
                                            </div>
                                    </div>
                            </div>
                            <!-- for change image -->
                            <div class="col-6">
                                    <div class="row">
                                        <div class="col-sm-12 col-lg-6 col-xl-6 fixed-height" *ngFor="let images of implantDetail.imageData; let i=index">
                                            <div class="image--gallery--container">
                                                <img class="image--gallery" (click)="imageView(i)" [src]="implantDetail.imageData[i].imageName">
                                            </div>
                                            <div *ngIf = "(!implantDetail.isNewImplant) && (implantDetail.imageData && !implantDetail.imageData[i].isApproved) && (implantDetail.imageData && !implantDetail.imageData[i].isRejected)">
                                                <button type="button" (click)="partialApproveImage(implantDetail.imageData[i].id)" class="btn btn-theme">Approve</button>
                                                <button type="button" (click)="partialRejectImage(implantDetail.imageData[i].id)" class="btn rejectBtn">reject</button>                          
                                                <div>
                                                    <span><b>Updated By:</b>{{ implantDetail.imageData[i].userFullName }}</span> <br />
                                                    <span><b>Updated Date:</b>{{ implantDetail.imageData[i].createdDate | date: 'MM/dd/yyyy' }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
