<div class="col-12 modal--ui p-0">
  <div class="modal--header">
    Add Image
  </div>
  <div class="col-12 modal--body">
    <div class="col-md-12 p-0 form-group ">
          <!-- <div class="implant--image--container">
            <label for="implantImage" class="implant--image--lable">
              Drop image or click to upload
            </label>
          </div> -->
          <!-- <input type="file" (change)="fileChangeEvent($event)" id="implantImage" accept="image/*" class="form-control" /> -->
          <mat-error class="error--handing custome-error" *ngIf="imageError">
            {{ "Select at least one image to uplaod." }}
          </mat-error>
          <mat-error class="error--handing custome-error" *ngIf="imageValidError">
            {{ "Only png and jpg file allowed." }}
          </mat-error>
      <div class="col-md-12">
        <div class="image--cropper">
          <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false" [aspectRatio]="1 / 1" format="jpg" (imageCropped)="imageCropped($event)"></image-cropper>
        </div>
      </div>
    </div>
  </div>
  <div class="modal--footer text-center">
    <button type="button" (click)="closeBtn()" class="btn cancelBtn mr-4  ">Cancel</button>
    <button type="button" (click)="saveDetail()" class="btn btn-theme">Save</button>
  </div>






</div>