<div class="col-md-12">
  <div class="row form-group ">
      <div class="col-md-12">
        <div class="implant--image--container">
          <label for="implantImage"  class="implant--image--lable"> 
              Drop image or click to upload
          </label>
            <input type="file" (change)="fileChangeEvent($event)" id="implantImage" accept="image/*" class="form-control" />
        </div>
        <mat-error class="error--handing custome-error" *ngIf= "imageError" >
            {{ "Select at least one image to uplaod." }}
        </mat-error>
        <mat-error class="error--handing custome-error" *ngIf= "imageValidError" >
          {{ "Only png and jpg file allowed." }}
      </mat-error>
        <div class="crop--preview">
          <label *ngIf="croppedImage">Outline the implant to highlight it on the image below:</label>
          <img class="" [src]="croppedImage" />
        </div>
      </div>
      <div class="offset-lg-1 col-md-12">
        <div class="image--cropper">
          <image-cropper
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="false"
              [aspectRatio]="1 / 1"
              format="jpg"
              (imageCropped)="imageCropped($event)"
          ></image-cropper>
        </div>
      </div>
  </div>
</div>