<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <mat-tab-group>
              <mat-tab *ngFor="let page of pages; let i=index">
                <ng-template mat-tab-label>
                  {{page.pageName}}
                </ng-template>
                <ckeditor [(ngModel)]="pages[i].content"  [editor]="Editor" ></ckeditor>
                </mat-tab>
            </mat-tab-group>
            <button type="button" class="btn btn-theme" (click)="save()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
