<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Implants</h4>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-12">
                                  <!-- <input type="file" placeholder="Implants image" name="email" (change)="preview($event)"> -->
                                  <input type="file" (change)="fileChangeEvent($event)" />
                              </div>
                              <div class="col-md-12">
                                <!-- <img [src]="previewUrl" style="max-width: 400px; max-height: 400px;"> -->
                                <image-cropper
                                    [imageChangedEvent]="imageChangedEvent"
                                    [maintainAspectRatio]="true"
                                    [aspectRatio]="4 / 3"
                                    [resizeToWidth]="128"
                                    format="jpg" 
                                    (imageCropped)="imageCropped($event)"
                                    (imageLoaded)="imageLoaded()"
                                    (cropperReady)="cropperReady()"
                                    (loadImageFailed)="loadImageFailed()"
                                ></image-cropper>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <img class="cropPrivew" [src]="croppedImage" />
                            </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
