<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title learning--status">
                        Machine Learning Status
                        <i class="material-icons" (click)="getCollectionStatus()">refresh</i>
                      </h4>
                  </div>
                  <div class="card-body">
                      {{collectionStatus}}
                  </div>
              </div>
          </div>
      </div> <!-- End of Machine Learning Status -->

        <div class="row">
          <div class="col-md-12">
              <button class="btn btn-theme" (click)="startCollectionTraining()">Start Machine Learning</button>
          </div>
        </div>
  </div>
</div>
