<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title learning--status">
                        Machine Learning Status
                        <i class="material-icons" (click)="getCollectionStatus()">refresh</i>
                      </h4>
                  </div>
                  <div class="card-body">
                      {{collectionStatus}}
                  </div>
              </div>
          </div>
      </div> <!-- End of Machine Learning Status -->

        <div class="row">
          <div class="col-md-12">
              <button class="btn btn-theme" (click)="startCollectionTraining()">Start Machine Learning</button>
          </div>
        </div>
        <!-- start blocks-->
        <div class="row">
            <div class="offset-md-1"></div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body card-body-custome">
                        3 New Verification Request
                    </div>
                </div>
            </div>
            <div class="offset-md-1"></div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body card-body-custome">
                        5 New Support messages Received
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="offset-md-1"></div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body card-body-custome">
                            {{ totalUser }}
                        </div>
                    </div>
                </div>
                <div class="offset-md-1"></div>
                <div class="col-md-4 cursor-pointer" (click)="implant()">
                    <div class="card">
                        <div class="card-body card-body-custome">
                            {{ totalImplant }}
                        </div>
                    </div>
                </div>       
        </div>
  </div>
</div>
