<div class="main-content implant--container">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Implants</h4>
                  </div>
                  <div class="card-body">
                      <form class="form mat-form-field-wrapper" [formGroup]="form" (ngSubmit)="saveImplant(form.value)" action="#">
                            <div class="row">
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-lg-12">
                                        <mat-form-field class="example--full--width">
                                            <input matInput placeholder="Implant manufacture" formControlName="implantManufacture" [(ngModel)]="searchByString" (keyup)="filterManufacture()" name="implantManufacture" [matAutocomplete] = "auto" >
                                            <mat-error class="error--handing"
                                                *ngIf="form.controls['implantManufacture'].hasError('required') && (form.controls['implantManufacture'].dirty || form.controls['implantManufacture'].touched)">
                                                {{ "Implant Manufacture is required." }}
                                            </mat-error>
                                            <mat-autocomplete #auto = "matAutocomplete" >
                                                <mat-option *ngFor="let option of filteredOptions" [value]="option.implantManufacture">
                                                    {{ option.implantManufacture }}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-lg-12">
                                        <mat-form-field class="example--full--width">
                                        <input matInput placeholder="Implant name/brand" formControlName="label" name="label" [matAutocomplete]="autoName" [(ngModel)]="searchName" (keyup)="filterName()" >
                                        <mat-error class="error--handing"
                                            *ngIf="form.controls['label'].hasError('required') && (form.controls['label'].dirty || form.controls['label'].touched)">
                                            {{ "Implant name/brand is required." }}
                                        </mat-error>
                                        <mat-autocomplete #autoName="matAutocomplete">
                                            <mat-option class="autocomplete--option" *ngFor="let name of filteredNames" [value]="name.objectName" >
                                              <img class="example-option-img" aria-hidden [src]="name.imgName" height="25">
                                              <span>{{name.objectName}}</span>
                                            </mat-option>
                                        </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-lg-12">
                                        <mat-form-field class="example--full--width">
                                            <input matInput placeholder="Surgery date" [matDatepicker]="picker" (focus)="picker.open()" formControlName="surgeryDate" name="surgeryDate">
                                            <mat-error class="error--handing"
                                                *ngIf="form.controls['surgeryDate'].hasError('required') && (form.controls['surgeryDate'].dirty || form.controls['surgeryDate'].touched)">
                                                {{ "Surgery date is required." }}
                                            </mat-error>
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-lg-12">
                                        <mat-form-field class="example--full--width">
                                            <input matInput placeholder="Surgery Location" formControlName="surgeryLocation" name="surgeryLocation">
                                            <mat-error class="error--handing"
                                                *ngIf="form.controls['surgeryLocation'].hasError('required') && (form.controls['surgeryLocation'].dirty || form.controls['surgeryLocation'].touched)">
                                                {{ "Surgery location is required." }}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-lg-12">
                                        <mat-form-field class="example--full--width">
                                        <textarea matInput placeholder="Removal Process" formControlName="removalProcess" name="removalProcess"  rows="12" ></textarea>
                                        <mat-error class="error--handing"
                                            *ngIf="form.controls['removalProcess'].hasError('required') && (form.controls['removalProcess'].dirty || form.controls['removalProcess'].touched)">
                                            {{ "Removal Process is required." }}
                                        </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            </div>
                          <div class="row form-group ">
                              <div class="col-lg-4">
                                <div class="implant--image--container">
                                  <label for="implantImage" class="implant--image--lable">
                                    Upload Implant image
                                  </label>
                                   <input type="file" (change)="fileChangeEvent($event)" id="implantImage" accept="image/*" class="form-control" />
                                </div>
                                <mat-error class="error--handing" *ngIf= "imageError" >
                                    {{ "Image is required." }}
                                </mat-error>
                                <div class="crop--preview">
                                  <label *ngIf="croppedImage">Preview:</label>
                                  <img class="" [src]="croppedImage" />
                                </div>
                              </div>
                              <div class="offset-lg-1 col-lg-7">
                                <div class="image--cropper">
                                  <image-cropper
                                      [imageChangedEvent]="imageChangedEvent"
                                      [maintainAspectRatio]="false"
                                      [aspectRatio]="1 / 1"
                                      format="jpg"
                                      (imageCropped)="imageCropped($event)"
                                  ></image-cropper>
                                </div>
                              </div>

                          </div>
                          <div class="row col-md-12 form--bottom">
                            <button type="submit" [disabled]="!form.valid || disabledSave" class="btn btn-theme">Save</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
