.implant--container{

  .image--cropper{
    max-width: 500px;
  }
  .implant--image--container {
    height: 250px;
    margin-bottom: 10px;
    position: relative;

    .implant--image--lable {
      display: flex;
        margin: 10px;
        color: #545454;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        border: 1px dashed #CCC;
        text-align: center;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: #176aba;
        font-size: 20px;
    }
  }
  .crop--preview {
    // display: flex;
    label {
      display: block;
      margin-top: 20px;
      color: #545454;
    }
    img {
      max-width: 200px;
    }
  }

  .cropper {
    width: 300px;
    height: 300px;
    top: 50px;
    left: 50px;
  }
  .cropper .move {
    width: 100%;
    cursor: move;
    border: 2px solid red !important;
  }
}
.autocomplete--option {
  height: 70px;
  border-bottom: 1px solid #CCC;
}
.example-option-img {
  height: 50px;
  vertical-align: middle;
  margin-right: 8px;
}
.cursor--pointer{
  cursor: pointer;
}
.removal--process{
  border: 1px solid #CCC;
  margin-bottom: 10px;
  position: relative;
}
.capitalize{
  text-transform: capitalize;
}

.mat-headline {
  font-size: 20px !important;
}
.custome-error {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
}
.cropper > span {
  color: red !important;
}
.image--cropper > .cropper > .resize-bar{
  color: red !important;
}

::ng-deep {
  .cropper{
    color: #ef1c06 !important;
    &::after{
      border: 3px solid #ef1c06 !important;
    }
    .resize {
      .square {
        background: #ef1c06 !important;
      }
    }
  }
}

.add--more--btn{
  padding: 0;
  color: #2f7fd3;
  margin-bottom: 30px;
  .mat-icon{
    margin-right: 2px;
  }
}

.previewImg {
  width: 100%;
  height: 100%;
}

.icon--delete{
  position: absolute;
  right: 3px;
  top: 5px;
  color: #2d78cb;
  cursor: pointer;
  background: #ddd;
  padding: 2px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}