<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Change Email</h4>
                  </div>
                  <div class="card-body">
                      <form [formGroup]="changeEmailForm" (ngSubmit)="save(changeEmailForm.value)" #emialForm="ngForm">
                          <div class="row">
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Current Email" formControlName="currentEmail" readonly>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="New email id" formControlName="email" name="email">
                                        <mat-error class="error--handing"
                                            *ngIf="changeEmailForm.controls['email'].hasError('required') && (changeEmailForm.controls['email'].dirty || changeEmailForm.controls['email'].touched)">
                                            {{ "New email id is required." }}
                                        </mat-error>
                                        <mat-error class="error--handing"
                                            *ngIf="changeEmailForm.controls['email'].hasError('pattern') && (changeEmailForm.controls['email'].dirty || changeEmailForm.controls['email'].touched)">
                                            {{ "Please Enter valid email Id." }}
                                        </mat-error>
                                        <mat-error class="error--handing"
                                            *ngIf="changeEmailForm.controls['email'].hasError('emailCompare') && (changeEmailForm.controls['email'].dirty || changeEmailForm.controls['email'].touched)">
                                            {{ "Please enter diffrent email to update your current email." }}
                                        </mat-error>
                                      </mat-form-field>
                                </div>
                            </div>
                          <button mat-raised-button type="submit" [disabled]="!changeEmailForm.valid" class="btn btn-theme">Update Email</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <!--change password -->
          <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Change Password</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="changePasswordForm" (ngSubmit)="save(changePasswordForm.value)" #form="ngForm">
                        <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Current password" type="password" formControlName="oldPassword">
                                  <mat-error class="required" *ngIf="changePasswordForm.controls['oldPassword'].hasError('required') && (changePasswordForm.controls['oldPassword'].dirty || changePasswordForm.controls['oldPassword'].touched )">
                                    {{ "Current password is required." }}
                                  </mat-error>
                                </mat-form-field>
                              </div>
                          </div>

                        <div class="row">
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="New password" type="password" formControlName="password">
                                    <mat-error class="required" *ngIf="changePasswordForm.controls['password'].hasError('required') && (changePasswordForm.controls['password'].dirty || changePasswordForm.controls['password'].touched )">
                                        {{ "New password is required." }}
                                    </mat-error>
                                    <mat-error class="required" *ngIf="changePasswordForm.controls['password'].hasError('pattern') && (changePasswordForm.controls['password'].dirty || changePasswordForm.controls['password'].touched )">
                                        {{ "New password must be minimum 6 charecter long." }}
                                    </mat-error>
                                    <mat-error class="error--handing" style="margin-bottom: 10px"
                                        *ngIf="changePasswordForm.controls['password'].hasError('whitespace') && (changePasswordForm.controls['password'].dirty || changePasswordForm.controls['password'].touched)">
                                        {{ "Only blank space not allow in password."}}
                                    </mat-error>
                              </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Confirm password" formControlName="confirmPassword" type="password" name="cofirmpassword">
                                      <mat-error class="required" *ngIf="changePasswordForm.controls['confirmPassword'].hasError('required') && (changePasswordForm.controls['confirmPassword'].dirty || changePasswordForm.controls['confirmPassword'].touched )">
                                            {{ "Confirm password is required." }}
                                        </mat-error>
                                      <mat-error class="error--handing" *ngIf="changePasswordForm.controls['confirmPassword'].hasError('passwordCompare') && ( changePasswordForm.controls['confirmPassword'].dirty || changePasswordForm.controls['confirmPassword'].touched )">
                                          {{ "Password does not match." }}
                                      </mat-error>
                                  </mat-form-field>
                              </div>
                        </div>
                        <button mat-raised-button type="submit" [disabled]="!changePasswordForm.valid" class="btn btn-theme">Update Password</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
